auto-install-peers=false
strict-peer-dependencies=false
minimumReleaseAgeExclude=expo,react-native,expo-router,expo-blur,expo-constants,expo-font,expo-glass-effect,expo-haptics,expo-image,expo-image-picker,expo-linear-gradient,expo-linking,expo-location,expo-splash-screen,expo-status-bar,expo-symbols,expo-system-ui,expo-web-browser,expo-camera,expo-clipboard,expo-document-picker,expo-file-system,expo-notifications,expo-av,@expo/cli,react-native-gesture-handler,react-native-reanimated,react-native-screens,react-native-svg,react-native-worklets,react-native-safe-area-context
